h1 {
    background-color: blueviolet;
    color: aliceblue;
    padding: 20px;
}

button.direction-btn {
    min-width: 150px;
    min-height: 50px;
}

#main {
    text-align: center;
}

#main svg {
    background-color: brown;
}